In [1]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [11]:
df = pd.read_excel('foot_stat.xlsx', header=1, sheet_name=0)

In [10]:
df

,R,Player,Shots,ShotsOT,KeyPasses,PA%,AerialsWon,Touches,Rating,Rating.1
0,1,"Sergej Milinkovic-Savic (89′)24, MC",1,1,2,79.4,1,57,2019-05-08,8.05
1,2,"Luis Alberto (74′)27, MC",2,1,3,84.2,0,58,2019-03-08,8.05
2,3,"Joaquín Correa 25, AMC",3,1,1,92.0,1,41,1963-07-01,7.63
3,4,"Senad Lulic 33, DML",0,0,3,91.9,3,54,2023-07-01,7.23
4,5,"Luiz Felipe 22, DC",2,1,0,82.9,0,44,2015-07-01,7.15
5,6,"Thomas Strakosha 24, GK",0,0,0,77.1,0,49,2019-12-07,7.12
6,7,"Manuel Lazzari 26, DMR",2,2,1,82.8,0,55,1992-06-01,6.92
7,8,"Felipe Caicedo (89′)31, Sub",1,1,0,66.7,0,4,1978-06-01,6.78
8,9,"Stefan Radu 33, DC",1,0,1,89.7,0,53,1969-06-01,6.69
9,10,"Lucas Leiva 32, MC",0,0,0,80.0,2,47,1964-06-01,6.64
10,11,"Francesco Acerbi 31, DC",0,0,0,88.6,0,53,1960-06-01,6.60
11,12,"Ciro Immobile (84′)29, FW",6,2,0,85.7,1,22,1947-06-01,6.47
12,13,"Danilo Cataldi (84′)25, Sub",0,0,0,66.7,0,7,1934-06-01,6.34
13,14,"Marco Parolo (74′)34, Sub",0,0,0,71.4,1,9,2024-06-01,6.24

In [7]:
# Создаём сэмпл
n_samples = 500

age_owner = np.random.choice(90, n_samples) + 21
length = np.random.choice(120, n_samples) + 15
width = np.random.choice(80, n_samples) + 10

price = length * width * 100

data = pd.DataFrame({'age_owner': age_owner, 'length': length, 'width': width, 'price': price})
data.head(5)

   age_owner  length  width   price
0         60      60     45  270000
1         37      15     12   18000
2         21      59     21  123900
3         77      19     27   51300
4         71      55     16   88000

In [9]:
from sklearn.metrics import mean_absolute_error

X = data[['age_owner', 'length', 'width']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['age_owner', 'length', 'width']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-242.03788999 4798.1159681  7409.36768689]
Bias: -335439.46587458637
Error: 59139.99875408208

In [9]:
X = data[['length', 'width']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['length', 'width']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [4997.07897758 7418.27548388]
Bias: -367391.5258767905
Error: 60225.363686096294

In [23]:
# Создаем новый признак
data['mult'] = data['length'] * data['width']
data.head(5)

   age_owner  length  width   price  mult
0         59      65     75  487500  4875
1         89      85     41  348500  3485
2         61      51     42  214200  2142
3         53     117     63  737100  7371
4         89      75     49  367500  3675

In [24]:
X = data[['mult']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [100.]
Bias: -1.1641532182693481e-10
Error: 5.613401299342513e-11